
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
}

/* Header do exercicio 01  */
.header{
    background: #2c78ff;
    color: #fff;
}

.header-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 30px 0px;
    
}

.header .header-h1{
    font-size: 2.5em;
    font-family: 'Anton', sans-serif;
}

.menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul .menu-name{
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
}

.menu ul li{
   padding: 0 20px;
  
}

.menu .btn-clear{
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}

.menu .btn-clear:hover{
    background-color: #2c78ff;
    border: 2px solid #fff;
    padding: 6px 14px;
    color: #fff;
}

/* section do exercicio 01  */
.section-input{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.section-input .input {
    width: 500px;
    padding: 15px;
    margin: 0px 10px;

}

.section-input .btn{
    width: 230px;
    padding: 15px;
    margin: 0 10px;
    background-color: #2c78ff;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
}

.section-input .btn:hover{
    background-color: #fff;
    border: 2px solid #2c78ff;
    color: #2c78ff;
}

.section-title{
    margin-bottom: 60px;
   
}

.section-title h2{
    font-size: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.resultado{
    margin-top: 40px;
}

.resultado p{
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    color: #2c78ff;
}

/* Responsivo*/

@media (max-width: 800px) {

    .header-menu .menu{
        margin-top: 10px;
    }

    .menu .btn-clear{

        padding: 6px 14px;
        border-radius: 5px;
    }

    .menu .btn-clear:hover{

        padding: 4px 12px;
        border-radius: 5px;
    }
    .section-input{
        flex-direction: column;
        text-align: center;
    }

    .section-input-dados .btn{
        margin: 20px 10px;
        width: 90%;
      
    }

    .section-input .input{
        width: 90%;
    }

    .section-title h2{
        font-size: 1.1em;
    }

   
}


/* section do exercicio 04  */

.section-dados{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.dados-title h2{
    font-size: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.dados-tab{
    margin: 40px auto;
}

.tabela, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 80px;
}

.tabela th{
    background-color: #2c78ff;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}